.btnTop {
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #1d64ab;
    background-color: #1d64ab;
    color: #9bb6d1;
    z-index: 20;
}

.btnTop:hover {
    background-color: #9bb6d1;
    color: #1d64ab;
    cursor: pointer;
}

