.all {
    min-height: 100vh;
    /* background-color: #292e39; */
    background-color: #0b182c;
    /* background-color: #0a192f; */
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.818);
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    font-size: x-large;
    height: 10%;
    position: absolute;
    text-align: center;
    width: 100%;
    /* border: 1px solid white; */
}

.num {
    color: #1d64ab;
    font-size: calc(10px + 2vmin);
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(15px + 2vmin);
    /* font-size: xx-large; */
    margin: auto;
    /* color:rgba(30, 89, 167, 0.574); */
    /* color:  #11365b; */
    color: #9bb6d1;
}


.cards {
    background: linear-gradient(to bottom right, rgb(48, 102, 146), rgb(82, 132, 170));
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.6fr;
    margin: 0 auto;
    margin-top: 8%;
    row-gap: 6%;
    width: 70%;
    height: 100%;
    border: 1px solid rgb(1, 10, 17);
    z-index: 2;
}

.card {
    margin-top: 20%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    text-align: center;
    /* background-color: aliceblue; */
}

.card:hover {
    color: #9bb6d1;
}

.logo {
    width: 80px;
    height: 80px;
    margin: auto;
}

.logo:hover {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    position: relative;
    top: -5px;

    
}

.tech {
    padding-top: 2%;
}


@media screen and (max-width: 1200px){
    .cards {
        height: 80%;
        margin-top: 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.6fr;
    }
}

@media screen and (max-width: 951px){
    .cards {
        height: 80%;
        margin-top: 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.2fr;
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .cards {
        height: 80%;
        margin-top: 15%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr;
        width: 80%;
    }

    /* .logo {
        width: 70px;
        height: 70px;
        margin: auto;
    } */
}

@media screen and (max-width: 450px){
    .cards {
        margin-top: 20%;
    }

    .logo {
        width: 70px;
        height: 70px;
        margin: auto;
    }
}

@media screen and (max-width: 300px){
    .cards {
        height: 80%;
        margin-top: 25%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.01fr;
        width: 80%;
    }
    .logo {
        width: 60px;
        height: 60px;
        margin: auto;
    }
}