.header {
    height: 8%;
    position: absolute;
    top: 0px;
    width: 100%;
    /* background-color: #292e39; */
    /* background-color: #282c34; */
    background-color: #0b182c;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.818);
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.menu {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 0%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    /* font-size: calc(10px + 2vmin); */
}

.menu2 {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 40%;
    margin-left: 0%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.icon1{
    display: flex;
    position: absolute;
    right: 8%;
}

.icon2{
    display: flex;
    position: absolute;
    right: 18%;
}

.icon1:hover {
    cursor: pointer;
    color: #9bb6d1;
}

.icon2:hover {
    cursor: pointer;
    color: #9bb6d1;
}

a:visited {
    color: white;
}

a:visited:hover {
    cursor: pointer;
    color: #9bb6d1;
}

.menu li:hover {
    cursor: pointer;
    color: #9bb6d1;
}