#all {
    width: 80%;
    background-color: transparent;
    margin: auto;
    padding-top: 150px;
  }
  
#form {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
}

#div1 {
    margin-bottom: 10px;
}
  
#div1 p {
    margin-top: 15px;
    color: #1d64ab;
    margin-bottom: 5px;
    margin: 0;
    margin-bottom: 5px;
}
  
#div1 input {
    width: 50%;
    min-width: 300px;
    height: 30px;
    border: solid 2px rgb(164, 164, 164);
    border-radius: 0.5vh;
    color: #0b182c;
    background: #9bb6d1;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
  
#div2 p {
    color: #1d64ab;
    margin-bottom: 10px;
}
  
.tarea {
    width: 50%;
    min-width: 300px;
    height: 80px;
    border: solid 2px rgb(164, 164, 164);
    border-radius: 0.5vh;
    color: #0b182c;
    background: #9bb6d1;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    z-index: 10;
}


.btn {
    background-color: transparent;
    border: #1d64ab solid 1.8px;
    border-radius: 4px;
    color: #9bb6d1;
    width: 160px;
    height: 40px;
    padding: 8px 20px;
    margin: auto;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-origin: left;
    transition: all 2s ease-in-out;
    overflow: hidden;
    background: linear-gradient(to right, #1d64ab 50%, transparent 50%) no-repeat right / 200%;
    transition: all 0.3 ease-out;
}

.btn:hover {
    background-position: left;
    color: #0a192f;
    cursor: pointer;
}

.btn1:visited {
    color: #0a192f;
}

.btn1:visited:hover {
    cursor: pointer;
    color: #0a192f;
}

::placeholder { color: #0a192f; }


@media screen and (max-width: 600px){
    .btn {
        width: 300px;
    }
}

@media screen and (max-width: 600px){
    .btn {
        width: 300px;
    }
}